/* CSS Reset – entfernt Standardabstände und setzt Basiseigenschaften zurück */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:var(--font-geist-sans, --font-geist-mono)
}

/* Optional: Standard-Schriftart und -Farbe setzen */
html, body {
  height: 100%;
}